@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-secondary leading-loose;
  }
  :root {
    --radius: 0.5rem;
    --primary: 0 0% 100%;
    --secondary: 0 0% 89%;
    --tertiary: 0 0% 15%;
    --accent: 221.2 83.2% 53.3%;
    --accent-hover: 221.2 83.2% 59%;
  }
}
